footer {
  clear: left;
  height: 60px;
  display: flex;
  background-color: #FFF;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid #CCCCCC;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #484848;
  text-align: center;
}
